[Desktop Entry]
Name=Hahaha Dark
X-KDE-PluginInfo-Author=Radvil
X-KDE-PluginInfo-Email=radvil.linux@gmail.com
X-KDE-PluginInfo-Category=Aurorae
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=hahaha-dark
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Depends=
